
/* Principal Event Title */

    /* Mobile Version */

    #event-title {
        width: 100%;
        margin-top: -10px;
        font-weight: bolder;
        font-size: 1.5em;
        text-align: right;   
    }


    /* Desktop Version */
    @media (min-width: 700px) {
    #event-title {
        font-size: 40px;
        font-weight: bolder;
        margin-top: 160px;
        margin-right: 30px;
        text-align: right;
      }
    }


/* Principal Event Subtitle */

    /* Mobile Version */
    
    #event-subtitle {
        margin-top: -10px;
        font-size: 1.4em;
        text-align: right;
        color: darkgray;
}


    /* Tablet Version */

    @media (min-width: 700px) {
      #event-subtitle {
        font-size: 1.4em;
        text-align: right;
          color: darkgray;
      }
    }

    /* Desktop Version */

    @media (min-width: 700px) {
      #event-subtitle {
        width: 100%;
        padding: 4px;
        font-size: 1.4em;
        text-align: right;
        padding: 0px 0px;
          margin-right: 30px;
          color: darkgray;
      }
    }

/* Principal Event Date */

    /* Mobile Version */
    
    #event-date {
        margin-top: -10px;
        font-size: 1em;
        text-align: right;
        font-weight: 300;
}


    /* Tablet Version */

    @media (min-width: 700px) {
      #event-date {
        font-size: 1.4em;
        text-align: right;
      }
    }

    /* Desktop Version */

    @media (min-width: 700px) {
      #event-date {
        width: 100%;
        padding: 4px;
        font-size: 1em;
        text-align: right;
        padding: 0px 0px;
          margin-right: 30px;
          font-weight: 900;
      }
    }

/* Registration Buttons */

    /* General Register */

    .big-button {
        text-align: right;
        height: 60px;
        margin-right: 30px;

    }

    @media (min-width: 700px) {
        .big-button {
            padding-top: 150px;
        }
    }

    @media (min-width: 700px) { 
        .big-button {
            margin-top: -140px;
        }
    }

    .big-button-text{
        padding: 0px;
        font-size: 12px;
    }

    @media (min-width: 700px) {
       .big-button-text {
        padding: 40px;
        font-size: 1em;
        }
    }

.my-container {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 3em;
    margin-bottom: 50%;
}

.my-breadcrumb {
    margin-top: -10px;
    margin-bottom: -38px;
    background: none;
}

/* Layout: */

.col-main {
  flex: 3;
}  

.col-complementary {
  flex: 1;  
}

/* Responsivo: */

@media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
}

.col {
  padding: 1em;
  margin: 0 2px 2px 0;
  background: white;
  border-radius: 25px;
    
}


/* Contenido */

    #event-logo{
        width: 100%;
        margin-top: 20px; 
    }

@media (min-width: 700px) {
    #event-logo {
        width: 30%;
        
    }
}

    #event-description {
        width: 100%;
        height: auto;
    }

    .event-program {
        width: 100%;
        height: auto;
    }

#fb-logo-share {
    width: 10%;
    height: auto;
    padding: 2px;
    margin-right: 28px;
}

#twitter-logo-share {
    width: 10%;
    height: auto;
    padding: 2px;
    margin-right: 28px;
}

@media (min-width: 700px){
    #fb-logo-share {
    width: 5%;
    height: auto;
    padding: 2px;
    margin-right: 28px;
    }
}

@media (min-width: 700px){
    #twitter-logo-share {
    width: 5%;
    height: auto;
    padding: 2px;
    margin-right: 28px;
    }
}

#subevent-title {
    font-weight: 700;
    color: hsl(0, 0%, 13%);
}

.location {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 4px 8px;
    margin: 0px;
    margin-top: 18px;
    width: 14%;
    text-align: right;
    height: 34px;
    background: #1B3039;
}

.location p {
    display: inline-block;
    color: #00C6A6;
    margin-left: 2px;
}


.pin {
    width: 16px;
    display: inline-block;
}

#little-titles {
    white-space: nowrap; 
    color: hsl(0,0%,45%)
}

#important-titles {
    font-weight: 700;
}

#normal-text {
    font-size: 1em; 
    white-space: nowrap; 
    color: hsl(0,0%,29%)
}

