/* -----------------------
Base styles
------------------------*/

body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Lato", sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}

table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

a:link { color: royalblue; }
a:visited { color: purple; }
a:focus { color: black; }
a:hover { color: white; }

/* -----------------------
Layout styles
------------------------*/

.header 
{	
	width: 100%;
}

.header-container
{
	display: flex;
	flex-direction: column-reverse;
	max-width: 100em;
	margin: 0 auto;
}

.container
{
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
	margin: 0 auto;
}



.search-box {
	width: 100%;
}

.header
{
	color: #fff;
	background: #999;
	padding: 1em 1.25em;
	background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
      ),url('https://video-images.vice.com/articles/5abbf58f9ac2790006e9a926/lede/1522267726300-AP_483735011376.jpeg?crop=1xw:0.75xh;center,center') center #333 no-repeat;
  background-size: cover;
  text-shadow: 0px 0px 5px #000;
  height: 20em;
}

.header-heading { margin-top: 2em; }

.nav-bar
{	
	background: #000;
	padding: 0;
}

.article-img 
{
	width: 100%;
	height: 14em;
}

.section-container
{
	display: flex;
}

.section
{
	flex: 1; /*grow*/
  	padding: 1em 1em;
}


.content
{
	padding: 1em 1.25em;
	background-color: #fff;
}

.footer
{
	color: #fff;
	background: #000;
	padding: 1em 1.25em;
}


.footer img
{
	width: 6%;
}



.logo img {
	width: 80%
}



/* -----------------------
Nav
------------------------*/

.nav
{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;

}

.img-icon {
  display: inline-flex;
  align-self: center;
}

.img-icon img {
  height:1.1em;
  width:1.5em;
  padding-right: 0.5em;
}

.img-icon.img-baseline img {
  top: .125em;
  position: relative;
}


.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
}

.nav a:focus
{
	color: black;
}

.nav a:hover
{
	color: white;
}

.nav a:active
{
	color: white;

}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
	color: #fff !important;
	background-color: royalblue;
	border-color: #222;
	display: inline-block;
	padding: .5em 1em;
	margin-bottom: 0;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #fff !important;
}

.btn:focus
{
	color: #fff !important;
	background-color: black;
}

.btn:active
{
	color: #fff !important;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}



.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}



/* -----------------------
Exceptions
------------------------*/

#book img 
{	
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 14em;

}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em)
{
	.header { padding: 1.5em 3em; height: 24em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }
	.footer { padding: 2em 3em; }
	.footer img { width: 40%; }
	
	.nav li
	{
		margin-top: .5em;
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		margin-top: .5em;
		display: inline;
		padding: 0;
	}

	.logo img{
		width: 80%;
	}

	.header-heading 
	{ 
		margin-top: 2.4em; 
		text-align: center; 
	}


}

@media (max-width: 768px) 
{ 
  	.section-container { flex-direction: column; }
  	.button-titles { display: none; } 

  	.img-icon img {
		height:1.4em;
		width:1.8em;
		padding-right: 0.5em;
	}
}





.footer-container
{
	display: flex;
	max-width: 50em;
	margin: 0 auto;

}

.footer-nav-bar
{
	background: #000;
	padding: 0;
}

.footer-nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-nav li
{
	margin: 0;
}

.footer-nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
}



.footer-nav a:focus
{
	color: black;
}

.footer-nav a:hover
{
	color: white;
}

.footer-nav a:active
{
	color: white;
}

.social-icons 
{
	width: 1em;
	height: 1em;
	-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.social-icons img
{
	width: 1.5em;
}




.footer-list
	{
		margin-bottom: 1.5em;
		padding: 0;
		list-style: none;
	}


@media (min-width: 42em)
{
	.footer-nav-bar { padding: 1em 3em; }
	
	.footer-nav
	{
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.footer-list
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.footer-nav li
	{
		display: block;
		margin: 0 1em 0 0;
	}
	
	.footer-nav a
	{
		padding: 0;
		border-bottom: 0;
	}

	#list
	{
		width: 33%;
	}

	.header-container 
	{

		width: 100%;
	}

}




#logo-inecc-blanco
{
	margin-top: 1.8em;
	width: 8em;
	height: 2.4em;
}


.search-container{
  width: 280px;
  display: block;
  margin: 0 auto;
}


.button-titles 
{
	font-size: 1em;
}

.button-titles-nav
{
	margin-top: 4.7em;
	margin-right: 1em;
	font-size: 0.489em;
}

#icon-img 
{	
	width: 1.2em;

	margin-top: 1.9em;
	-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
} 


#logo-inecc-blanco 
{
	margin-top:.4em; 
	margin-left: .4em; 
	width: 5em; 
	height: 2em;
}

#only-nav ul li a {
	color:white;
}


#button-action {
	background: #00c6a6;
	color: black;
}




